*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #fefae0;
    display: flex;
    justify-content: center;
    position: relative;
    /* align-items: center; */
}

.circle{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #ccd5ae;
    animation: circle 2s infinite cubic-bezier(0.04, 0.09, 0.78, 1.34);
    background: radial-gradient( circle at 20% 20%, #ccd5ae, transparent);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.307);
}

@keyframes circle{
    0%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(400px);
        width: 120px;
        height: 80px;
    }
    100%{
        transform: translateY(100px);
    }
}

.earth{
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#faedcd , #fefae0);
    /* background-color: #3c3b37; */
    top: 500px;

}